body {
    margin: 0;
    padding: 0;
    height: 100vw;
    width: 100vw;
}

.spyro {
    position: absolute;
    top: 50%;
    left: 50%;
}

.head_top {
    border-radius: 37% 33% 0% 0% / 46% 46% 14% 10%;
    background-color: #a25096;
    width: 500px;
    height: 300px;
    position: absolute;
    top: -250px;
    left: -250px;
}

.head_bottom {
    clip-path: polygon(13% 0, 89% 0, 100% 28%, 100% 79%, 73% 100%, 22% 98%, 0 81%, 0 30%);
    border-radius: 34% 34% 100% 97% / 63% 55% 45% 45%;
    background-color: #a25096;
    width: 600px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: -300px;
}

.hair1 {
    position: absolute;
    top: -350px;
    left: -60px;
    width: 70px;
    height: 200px;
    border-radius: 33% 67% 41% 59% / 74% 72% 28% 26%;
    background: rgb(255,234,107);
    background: radial-gradient(circle, rgba(255,234,107,1) 18%, rgba(255,231,105,1) 29%, rgba(254,227,102,1) 49%, rgba(242,172,65,1) 70%, rgba(237,152,52,1) 90%);
    z-index: 2;
}

.hair2 {
    position: absolute;
    top: -473px;
    left: -45px;
    width: 110px;
    height: 300px;
    border-radius: 79% 21% 41% 59% / 54% 93% 7% 46%;
    background: rgb(255,234,107);
    background: radial-gradient(circle, rgba(255,234,107,1) 18%, rgba(255,231,105,1) 29%, rgba(254,227,102,1) 49%, rgba(242,172,65,1) 70%, rgba(237,152,52,1) 90%);
    z-index: 1;
}

.hair3 {
    position: absolute;
    top: -320px;
    left: 25px;
    width: 75px;
    height: 125px;
    border-radius: 23% 77% 12% 88% / 89% 41% 59% 11%;
    background: rgb(255,234,107);
    background: radial-gradient(circle, rgba(255,234,107,1) 18%, rgba(255,231,105,1) 29%, rgba(254,227,102,1) 49%, rgba(242,172,65,1) 70%, rgba(237,152,52,1) 90%);
    z-index: 0;
}

.eyes {
    position: absolute;
    top: -80px;
    left: -250px;
    z-index: 1;
}

.eye_left {
    height: 150px;
    width: 150px;
    background-color: white;
    position: absolute;
    left: 55px;
    box-shadow: 1px 0px 10px #4b2c58;
    border-radius: 52% 48% 16% 19% / 83% 87% 11% 15%;
}

.eye_right {
    height: 150px;
    width: 150px;
    background-color: white;
    position: absolute;
    left: 300px;
    box-shadow: 1px 0px 10px #4b2c58;
    border-radius: 52% 48% 16% 19% / 83% 87% 11% 15%;
}

.iris {
    position: relative;
    width: 90px;
    height: 90px;
    top: 40px;
    left: 33px;
    border-radius: 100%;
    background: linear-gradient(0deg, rgba(160,78,144,1) 0%, rgba(24,21,59,1) 100%);
}

.pupil {
    position: relative;
    background-color: #1c171a;
    width: 60px;
    height: 60px;
    top: 15px;
    left: 15px;
    border-radius: 100%;
}

.jaw {
    position: absolute;
    top: 75px;
    left: -300px;
    height: 180px;
    width: 600px;
    background-color: #a25096;
    clip-path: polygon(0 0, 100% 2%, 65% 100%, 35% 100%);
}

.nose {
    position: absolute;
    top: 125px;
    left: -98px;
    height: 140px;
    width: 194px;
    background-color: #6f277b;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 5% 100%);
    border-bottom-left-radius: 16%;
    border-bottom-right-radius: 16%;
}

.nostril_left {
    position: relative;
    top: 110px;
    left: -110px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(111,39,123,1) 67%);
    z-index: 3;
}

.nostril_right {
    position: absolute;
    top: 110px;
    left: 75px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(111,39,123,1) 67%);
    z-index: 3;
}
